.main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
}

.upperbar {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: white;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.backbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
  color: black;
}

.backarrow {
  height: 22px;
  margin-right: 2px;
}

.content {
  overflow-y: auto;
  height: 88vh;
  background-color: #f4f4f4;
}

.deletebutton {
  padding: 10px;
  width: 100%;
  background-color: white;
  color: red;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  border: transparent;
}

.data {
  width: calc(100vw - 130px);
  color: black;
  font-size: 16px;
}

.datadiv {
  margin-bottom: 20px;
  margin-top: 20px;
}

.datadivsmall {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 12px;
  background-color: white;
}

.databox {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: white;
  color: gray;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  justify-content: space-between;
}

.databoxsmall {
  display: flex;
  flex-direction: row;
  padding: 3px 15px 3px 15px;
  background-color: white;
  color: gray;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  justify-content: space-between;
}

.loading {
  text-align: center;
  font-size: 20px;
}
