.main {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.upperbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 45px;
  border: 1px solid #ccc;
}

.backbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
}

.backarrow {
  height: 22px;
  margin-right: 2px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.typebox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.idtext {
  padding: 3px;
  color: gray;
}

.idbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.idinput {
  border: none;
  padding: 3px;
  border-bottom: 1px solid lightgray;
  width: 100%;
  outline: none;
}

.idinput::placeholder {
  color: gray;
  filter: opacity(0.5);
}

.passwordbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.passwordtext {
  padding: 3px;
  color: gray;
}

.passwordinput {
  border: none;
  padding: 3px;
  border-bottom: 1px solid lightgray;
  width: 100%;
  outline: none;
}

.passwordinput::placeholder {
  color: gray;
  filter: opacity(0.5);
}

.buttonbox {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  width: 100%;
}

.loginbutton {
  width: 100%;
  padding: 12px;
  border: transparent;
  border-radius: 6px;
  background: var(--SNUTT-orange, #f58d3d);
  color: var(--Text-onBG, #fff);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtextbox {
  margin-top: 5px;
}

.subtexts {
  color: gray;
  text-decoration: underline;
  padding: 2px;
}

.subtextssplicer {
  margin-left: 3px;
  margin-right: 3px;
  color: gray;
  padding: 2px;
}
