.main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(235, 236, 240);
}

.nametext {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.buttonbox {
  bottom: 0px;
  padding: 20px;
  width: 100%;
}

.logoutbutton {
  width: 100%;
  padding: 12px;
  border: transparent;
  border-radius: 6px;
  background: white;
  color: red;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}
