.main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nametext {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.Upperbar {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: white;
  padding-left: 16px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 6px;
  flex-direction: row;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;
}

.TabButton {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.timetable {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.icon {
  width: 20px;
  height: 20px;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.TabButton.active .searchIcon path {
  stroke: black;
  stroke-width: 2px;
}

.semester {
  font-size: 16px;
  font-weight: bold;
}

.credits {
  color: gray;
  font-size: 12px;
}

.listviewToggle {
  height: 26px;
  width: 26px;
}
