.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nametext {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
