.timetable {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
}

.emptycell {
  border: 0.5px solid #ddd;
  background-color: transparent;
}

.day {
  border: 0.5px solid #ddd;
  color: gray;
  background-color: transparent;
  text-align: center;
  align-content: center;
}

.body {
  flex: 1;
  display: grid;
  grid-template-columns: auto repeat(5, 1fr);
  grid-template-rows: 30px auto;
}

.row {
  display: contents;
}

.hour {
  border: 0.5px solid #ddd;
  color: gray;
  background-color: transparent;
}

.cell {
  color: white;
  border: 0.5px solid #ddd;
  text-align: center;
  border-top: none;
  border-left: none;
  position: relative;
}
